page-login {
    ion-list {
        margin: 0 !important;
        ion-item {
            border: 0 !important;
            padding: 0 !important;
            background: none !important;
            .item-inner {
                padding: 0 !important;
                border: 0 !important;
                ion-label {
                    button {
                        color: $font-color;
                        font-size: 18px;
                        width: 100%;
                        background: none;
                        ion-icon {
                            color: #cf2b30;
                        }
                    }
                    input,
                    select {
                        background: $bg-input;
                        border: none;
                        width: 80%;
                        margin: 20px auto;
                        direction: rtl;
                        padding: 0 20px;
                        height: 35px;
                        display: block;
                        border-radius: 15px;
                    }
                    select {
                        color: #919ca6;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
                p {
                    text-align: center;
                    color: $font-color;
                    font-size: 18px;
                }
            
                .buttons {
                    button {
                        display: block;
                        background: linear-gradient(to bottom, #e72127 0%, #cf2b30 100%);
                        width: 60%;
                        margin: 20px auto;
                        height: 40px;
                        color: #fff;
                        border-radius: 20px;
                        +button {
                            background: linear-gradient(to bottom, #434b6b 0%, #363b54 100%);
                        }
                    }
                }
            }
            button {
                display: block;
                background: linear-gradient(to bottom, #e72127 0%, #cf2b30 100%);
                width: 60%;
                margin: 20px auto;
                height: 40px;
                color: #fff;
                border-radius: 20px;
                font-size: 20px;
            }
        }
    }
}