<ion-content class="bg">
    <img class="logo" src="assets/imgs/logo.png">
    <ion-list>
        <ion-item>
            <input placeholder="إسم المستخدم">
            <input placeholder="كلمة المرور">
            <button (click)="forGot()">هل نسيت كلمة المرور ؟
                <ion-icon name="alert"></ion-icon>
            </button>
        </ion-item>
        <ion-item>
            <div class="buttons">
                <button (click)="homePage()">
                    دخول
                 </button>
                <button (click)="gotoPage()">
                إنشاء حساب جديد
            </button>
            </div>
        </ion-item>
        <ion-item>
            <p>دخول بإستخدام حساب</p>
            <div class="social-media">
                <button>
                   <img src="/assets/imgs/facebook.png">
               </button>
                <button>
                   <img src="/assets/imgs/twitter.png">     
                  </button>
                <button>
                  <img src="/assets/imgs/snapchat.png">     
               </button>
                <button>
                  <img src="/assets/imgs/instagram.png">     
                </button>
            </div>
        </ion-item>
    </ion-list>
</ion-content>