page-location {
    .info {
        text-align: center;
        line-height: 8px;
        margin: 40px 0;
        p {
            color: $font-color;
            font-size: 30px;
        }
        span {
            color: #c4cbd0;
            font-weight: bold;
        }
        button {
            background: #ffbc00;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            img {
                width: 30px;
            }
        }
    }
}