<ion-content class="bg">
    <img class="logo" src="assets/imgs/logo.png">
    <ion-list>
        <ion-item>
            <select>
                <option value="" disabled selected style="display: none;"> إختر المدينة</option>
                <option value="1">مصر</option>
                <option value="2">منصوره</option>
             </select>
            <div class="info">
                <p>حدد موقعك</p>
                <span>إضافة منتج البحث</span>
                <button>
                    <img src="assets/imgs/map.png">
                </button>
            </div>
            <button (click)="gotoPage()">دخول</button>
        </ion-item>
    </ion-list>
</ion-content>