<!--
  Generated template for the ComparisonbasketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>سلة المقارنة</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="Department">
        <ion-segment [(ngModel)]="Basket">
            <ion-segment-button value="kittens">
                عرض محتويات السلة
            </ion-segment-button>
            <ion-segment-button value="puppies">
                حساب محتويات السلة
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="Basket">
        <ion-list *ngSwitchCase="'puppies'">

            <ion-item>

                <div class="Stores">
                    <ion-title> متاجر العثيم </ion-title>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <div class="Stores-info">
                                    <p>تاريخ الإضافة للسلة</p>
                                    <p>11-2-2018</p>
                                    <button>تفاصيل المتجر والفروع</button>
                                </div>
                            </ion-col>
                            <ion-col col-6>
                                <div class="Stores-info">
                                    <p>إجمالى قيمة المنتجات</p>
                                    <p>200 ريال</p>
                                    <button>أسعار المنتجات</button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </div>
                <div class="Stores">
                    <ion-title> متاجر السدحان </ion-title>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <div class="Stores-info">
                                    <p>تاريخ الإضافة للسلة</p>
                                    <p>11-2-2018</p>
                                    <button>تفاصيل المتجر والفروع</button>
                                </div>
                            </ion-col>
                            <ion-col col-6>
                                <div class="Stores-info">
                                    <p>إجمالى قيمة المنتجات</p>
                                    <p>200 ريال</p>
                                    <button>أسعار المنتجات</button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </div>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'kittens'">
            <ion-item>
                <ion-item>
                    <ion-title>قسم الشنطه </ion-title>
                    <div class="Products">
                        <div class="item">
                            <div class="img-Products">
                                <img src="assets/imgs/Bags.png">
                            </div>
                            <div class="Clear-product">
                                <img src="assets/imgs/trash.png">
                            </div>
                        </div>
                        <div class="information-Products">
                            <h2>عرض الشنطه والحزام الجلد</h2>
                            <p>متجر جوتشى</p>
                            <div class="Number-products">
                                <div class="btn">
                                    <p>8</p>
                                    <button (click)="gotoPage()">
                                      عروض المنتج
                                  </button>
                                </div>
                                <div class="Number">
                                    <button>
                                      <ion-icon name="add"></ion-icon>
                                  </button>
                                    <p>6</p>
                                    <button>
                                    <ion-icon name="remove"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Products">
                        <div class="item">
                            <div class="img-Products">
                                <img src="assets/imgs/Bags.png">
                            </div>
                            <div class="Clear-product">
                                <img src="assets/imgs/trash.png">
                            </div>
                        </div>
                        <div class="information-Products">
                            <h2>عرض الشنطه والحزام الجلد</h2>
                            <p>متجر جوتشى</p>
                            <div class="Number-products">
                                <div class="btn">
                                    <p>4</p>
                                    <button (click)="gotoPage()">
                                      عروض المنتج
                                  </button>
                                </div>
                                <div class="Number">
                                    <button>
                                      <ion-icon name="add"></ion-icon>
                                  </button>
                                    <p>2</p>
                                    <button>
                                    <ion-icon name="remove"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-title> قسم الألبان</ion-title>
                    <div class="Products">
                        <div class="item">
                            <div class="img-Products">
                                <img src="assets/imgs/Layer 56 copy.png">
                            </div>
                            <div class="Clear-product">
                                <img src="assets/imgs/trash.png">
                            </div>
                        </div>
                        <div class="information-Products">
                            <h2>عرض الشنطه والحزام الجلد</h2>
                            <p>متجر جوتشى</p>
                            <div class="Number-products">
                                <div class="btn">
                                    <p>9</p>
                                    <button (click)="gotoPage()">
                                      عروض المنتج
                                  </button>
                                </div>
                                <div class="Number">
                                    <button>
                                      <ion-icon name="add"></ion-icon>
                                  </button>
                                    <p>8</p>
                                    <button>
                                    <ion-icon name="remove"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Products">
                        <div class="item">
                            <div class="img-Products">
                                <img src="assets/imgs/Layer 57.png">
                            </div>
                            <div class="Clear-product">
                                <img src="assets/imgs/trash.png">
                            </div>
                        </div>
                        <div class="information-Products">
                            <h2>عرض الشنطه والحزام الجلد</h2>
                            <p>متجر جوتشى</p>
                            <div class="Number-products">
                                <div class="btn">
                                    <p>6</p>
                                    <button (click)="gotoPage()">
                                      عروض المنتج
                                  </button>
                                </div>
                                <div class="Number">
                                    <button>
                                      <ion-icon name="add"></ion-icon>
                                  </button>
                                    <p>4</p>
                                    <button>
                                    <ion-icon name="remove"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-item>
        </ion-list>
    </div>
</ion-content>