page-comparisonbasket {
    .Department {
        padding: 20px 0;
        ion-segment-button {
            margin: 0 20px !important;
            height: 30px;
            border-radius: 20px;
            background: linear-gradient(to bottom, #434b6b 0%, #363b54 100%);
            color: #fff !important;
            border: 0 !important;
            border-radius: 20px !important;
        }
        ion-segment-button.segment-activated {
            background: linear-gradient(to bottom, #e72127 0%, #cf2b30 100%);
        }
    }
    ion-list {
        ion-item {
            .Stores {
                +.Stores {
                    border-top: 2px solid#eaedee !important;
                }
                .Stores-info {
                    text-align: center;
                    p {
                        color: $font-color;
                        +p {
                            width: 50%;
                            display: block;
                            margin: 0 auto;
                            height: 30px;
                            background: $btn-color;
                            line-height: 30px;
                            border-radius: 20px;
                        }
                    }
                    button {
                        width: 90%;
                        height: 30px;
                        background: linear-gradient(to bottom, #434b6b 0%, #363b54 100%);
                        margin: 10px auto;
                        border-radius: 20px;
                        color: #fff;
                    }
                }
            }
            +ion-item {
                border-top: 2px solid#eaedee !important;
            }
            ion-title {
                .toolbar-title {
                    padding: 10px 0 0;
                }
            }
            .Products {
                margin: 0 20px;
                padding: 3px 0;
                .Number-products {
                    display: flex;
                    direction: ltr;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 15px;
                    .btn {
                        position: relative;
                        p {
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background: $btn-color;
                            text-align: center;
                            line-height: 25px;
                            color: $font-color;
                            right: -4%;
                            bottom: 55%;
                            font-size: 16px;
                        }
                        button {
                            background: linear-gradient(to bottom, #434b6b 0%, #363b54 100%);
                            color: #fff;
                            height: 30px;
                            border-radius: 20px;
                            width: 100%;
                        }
                        width: 50%;
                    }
                    .Number {
                        display: flex;
                        width: 45%;
                        justify-content: space-between;
                        align-items: center;
                        direction: rtl;
                        button {
                            height: 20px;
                            width: 20px;
                            border-radius: 50%;
                            color: #fff;
                            font-size: 15px;
                            background: $bg-btn;
                            padding: 0;
                            ion-icon {
                                text-align: center;
                                line-height: 20px;
                            }
                        }
                        p {
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                            background: $main-color;
                            border-radius: 50%;
                            font-size: 15px;
                            color: #fff;
                        }
                    }
                }
                +.Products {
                    border-top: 1px solid#eaedee !important;
                }
            }
        }
    }
}