<ion-content class="bg">
    <ion-list>
        <ion-item>
            <div class="avter">
                <img src="/assets/imgs/avter.png">
                <button><ion-icon name="add"></ion-icon></button>
            </div>
        </ion-item>
        <ion-item>
            <input type="text" placeholder="الإسم بالكامل">
            <input type="text" placeholder="إسم المستخدم">
            <input type="email" placeholder="البريد الإلكترونى">
            <input type="tel" placeholder="رقم الجوال">
            <input type="password" placeholder="كلمة المرور">
            <input type="password" placeholder="تأكيد كلمة المرور">
            <button>تسجيل</button>
        </ion-item>
    </ion-list>
</ion-content>