page-register {
    ion-list {
        ion-item {
            .avter {
                width: 110px;
                height: 100px;
                background: linear-gradient(to bottom, #454d6d 0%, #353a52 100%);
                border-radius: 10px;
                display: block;
                margin: 20px auto;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                position: relative;
                img {
                    width: 70%;
                    height: 75%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                button {
                    position: absolute;
                    bottom: -15px;
                    right: -15px;
                    width: 35px;
                    height: 35px;
                    font-size: 27px;
                    font-weight: bold;
                    border-radius: 50%;
                    background: #ffbc00;
                    margin: 0;
                }
            }
        }
    }
}