<ion-header>

    <ion-navbar>
        <ion-title>العروض المجمعة</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-title>
                فلتر العروض المجمعة
            </ion-title>
            <div class="Date-Supply">
                <h3>تاريخ العروض</h3>
                <div class="Date-Determination">
                    <div class="Date">
                        <p>من</p>
                        <button>
                            <img src="assets/imgs/gold3.png">
                        </button>
                        <p>
                            11-2-2017
                        </p>
                    </div>
                    <div class="Date">
                        <p>الي</p>
                        <button>
                            <img src="assets/imgs/gold3.png">
                        </button>
                        <p>
                            15-1-2017
                        </p>
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="Date-Supply">
                <h3>تاريخ العروض</h3>
                <p>إضافة منتج البحث</p>
                <button (click)="gotoPage()">
                  <img src="assets/imgs/add.png">
                </button>
            </div>
        </ion-item>
        <ion-item>
            <div class="btn-details">
                <button>تطبيق</button>
            </div>
        </ion-item>
    </ion-list>

</ion-content>