<!--
  Generated template for the FavoriteproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>سلة المفضلة</ion-title>
        <ion-title> قسم الألبان</ion-title>

    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <div class="Products">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/melk.png">
                    </div>
                    <div class="Clear-product">
                        <img src="assets/imgs/trash.png">
                    </div>
                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <p>متجر جوتشى</p>
                    <div class="Number-products">
                        <div class="btn">
                            <p>4</p>
                            <button (click)="gotoPage()">
                          عروض المنتج
                      </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Products">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/Layer 57.png">
                    </div>
                    <div class="Clear-product">
                        <img src="assets/imgs/trash.png">
                    </div>
                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <p>متجر جوتشى</p>
                    <div class="Number-products">
                        <div class="btn">
                            <p>4</p>
                            <button (click)="gotoPage()">
                          عروض المنتج
                      </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Products">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/melk.png">
                    </div>
                    <div class="Clear-product">
                        <img src="assets/imgs/trash.png">
                    </div>
                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <p>متجر جوتشى</p>
                    <div class="Number-products">
                        <div class="btn">
                            <p>4</p>
                            <button (click)="gotoPage()">
                          عروض المنتج
                      </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Products">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/Layer 56 copy.png">
                    </div>
                    <div class="Clear-product">
                        <img src="assets/imgs/trash.png">
                    </div>
                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <p>متجر جوتشى</p>
                    <div class="Number-products">
                        <div class="btn">
                            <p>4</p>
                            <button (click)="gotoPage()">
                          عروض المنتج
                      </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Products">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/Layer 48.png">
                    </div>
                    <div class="Clear-product">
                        <img src="assets/imgs/trash.png">
                    </div>
                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <p>متجر جوتشى</p>
                    <div class="Number-products">
                        <div class="btn">
                            <p>4</p>
                            <button (click)="gotoPage()">
                          عروض المنتج
                      </button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>

</ion-content>