page-viewproduct {
    ion-item {
        .btn-details {
            padding: 20px 0;
            button {
                margin: 0 auto;
                display: block;
                height: 40px;
                width: 80%;
                border-radius: 20px;
                background: linear-gradient(to bottom, #e72127 0%, #cf2b30 100%);
                color: #fff;
                font-size: 20px;
            }
        }
    }
}