<!--
  Generated template for the ViewproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>عرض</ion-title>
        <ion-title>عرض الشمواه وحزام وحذاء</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-slides autoplay="5000" loop="true" speed="500" pager="true" (ionSlideDidChange)="slideChanged()">
                <ion-slide>
                    <div class="Product">
                        <img src='assets/imgs/Bags5.png'>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="Product">
                        <img src='assets/imgs/Bags5.png'>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="Product">
                        <img src='assets/imgs/Bags5.png'>
                    </div>
                </ion-slide>
            </ion-slides>
            <div class="information">
                <div class="info-product">
                    <p><span>إسم العرض : </span> شنطه شمواه وحزام جلد وحذاء كعب المتجر</p>
                    <p><span>المتجر  : </span> متجر جوتشى</p>
                    <p><span>المواصفات  : </span> (عرض موسم الصيف ويشمل 3 قطع ( 1 شنطه - 1 حزام - 1 حذاء </p>
                </div>
                <div class="Buy-info">
                    <div class="Buy">
                        <p>السعر بعد</p>
                        <button>140 ريال</button>
                    </div>
                    <div class="Buy">
                        <p>السعر قبل</p>
                        <button>160 ريال</button>
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <ion-title>منتجات العرض</ion-title>
            <ion-slides #slides>
                <ion-slide>
                    <div class="slider">
                        <div class="Products">
                            <div class="item">
                                <div class="img-Products">
                                    <img src="assets/imgs/Layer 67.png">
                                </div>
                            </div>
                            <div class="information-Products">
                                <h2>شنطه شمواه حريمى بنى </h2>
                                <div class="Buy-info">
                                    <div class="Buy">
                                        <button>200 ريال</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="information">
                            <div class="info-product">
                                <p>إجمالى قيمة المنتجات قبل الخصم :<span>500 ريال </span> </p>
                                <p>إجمالى قيمة المنتجات بعد الخصم :<span>200 ريال </span> </p>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="slider">
                        <div class="Products">
                            <div class="item">
                                <div class="img-Products">
                                    <img src="assets/imgs/Bags.png">
                                </div>
                            </div>
                            <div class="information-Products">
                                <h2>شنطه شمواه حريمى بنى </h2>
                                <div class="Buy-info">
                                    <div class="Buy">
                                        <button>200 ريال</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="information">
                            <div class="info-product">
                                <p>إجمالى قيمة المنتجات قبل الخصم :<span>500 ريال </span> </p>
                                <p>إجمالى قيمة المنتجات بعد الخصم :<span>200 ريال </span> </p>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>
            <div class="arrow">
                <button type="submit" color="primary" class="btnPrev" (click)="prev()">
                            <ion-icon name="arrow-back"></ion-icon>
                    </button>
                <button type="submit" color="primary" class="btnNext" (click)="next()">
                        <ion-icon name="arrow-forward"></ion-icon>
                    </button>
            </div>
        </ion-item>
        <ion-item>
            <ion-title>فروع العرض</ion-title>
            <div class="Branches-supply">
                <div class="Branches">
                    <div>
                        <img src="assets/imgs/Location Pin.png">
                    </div>
                    <p>جدة - الساحل</p>
                </div>
                <div class="Branches">
                    <div>
                        <img src="assets/imgs/Location Pin.png">
                    </div>
                    <p>الرياض - حى الملز</p>
                </div>
            </div>
            <div class="btn-details">
                <button>تفاصيل المتجر وأفرع العرض</button>

            </div>
        </ion-item>
        <ion-item>
            <ion-title>عروض منتجات ذات صلة</ion-title>
            <ion-slides #slider>
                <ion-slide>
                    <div class="slider">
                        <div class="Products">
                            <div class="item">
                                <div class="img-Products">
                                    <img src="assets/imgs/Bags.png">
                                </div>
                                <p>مدة العرض : <span>2</span> يوم</p>
                            </div>
                            <div class="information-Products">
                                <h2>عرض الشنطه والحزام الجلد</h2>
                                <p>متجر جوتشى</p>
                                <div class="Buy-info">
                                    <div class="Buy">
                                        <p>السعر قبل</p>
                                        <button>150 ريال</button>
                                    </div>
                                    <div class="Buy">
                                        <p>السعر بعد</p>
                                        <button>100 ريال</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="slider">
                        <div class="Products">
                            <div class="item">
                                <div class="img-Products">
                                    <img src="assets/imgs/Bags.png">
                                </div>
                                <p>مدة العرض : <span>2</span> يوم</p>
                            </div>
                            <div class="information-Products">
                                <h2>عرض 4 قطع فراخ</h2>
                                <p>متجر جوتشى</p>
                                <div class="Buy-info">
                                    <div class="Buy">
                                        <p>السعر قبل</p>
                                        <button>150 ريال</button>
                                    </div>
                                    <div class="Buy">
                                        <p>السعر بعد</p>
                                        <button>100 ريال</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>
            <div class="arrow">
                <button type="submit" color="primary" class="btnPrev" (click)="preva()">
                                <ion-icon name="arrow-back"></ion-icon>
                        </button>
                <button type="submit" color="primary" class="btnNext" (click)="nexta()">
                            <ion-icon name="arrow-forward"></ion-icon>
                        </button>
            </div>
        </ion-item>
    </ion-list>
</ion-content>