<ion-header>

    <ion-navbar>
        <ion-title>سلة المفضلة</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <div class="Products">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/melk.png">
                    </div>

                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <div class="Number-products">
                        <div class="Attention">
                            <button>
                              <img src="assets/imgs/Notification.png">
                        </button>
                        </div>
                        <div class="Number">
                            <button>
                              <ion-icon name="add"></ion-icon>
                          </button>
                            <p>5</p>
                            <button>
                            <ion-icon name="remove"></ion-icon>
                            </button>
                        </div>
                        <div class="Favorite">
                            <button>
                                <img src="assets/imgs/Fav.png">
                            </button>
                        </div>
                    </div>
                    <div class="Number-products">
                        <div class="btn">
                            <p>4</p>
                            <button (click)="gotoPage()">
                        عروض المنتج
                    </button>
                            <button (click)="gotoPage()">
                                أضف للسلة
                    </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Products">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/Layer 57.png">
                    </div>

                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <div class="Number-products">
                        <div class="Attention">
                            <button>
                              <img src="assets/imgs/Notification.png">
                        </button>
                        </div>
                        <div class="Number">
                            <button>
                              <ion-icon name="add"></ion-icon>
                          </button>
                            <p>5</p>
                            <button>
                            <ion-icon name="remove"></ion-icon>
                            </button>
                        </div>
                        <div class="Favorite">
                            <button>
                                <img src="assets/imgs/Fav.png">
                            </button>
                        </div>
                    </div>
                    <div class="Number-products">
                        <div class="btn">
                            <p>4</p>
                            <button (click)="gotoPage()">
                        عروض المنتج
                    </button>
                            <button (click)="gotoPage()">
                        أضف للسلة
            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Products">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/melk.png">
                    </div>

                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <div class="Number-products">
                        <div class="Attention">
                            <button>
                              <img src="assets/imgs/Notification.png">
                        </button>
                        </div>
                        <div class="Number">
                            <button>
                              <ion-icon name="add"></ion-icon>
                          </button>
                            <p>5</p>
                            <button>
                            <ion-icon name="remove"></ion-icon>
                            </button>
                        </div>
                        <div class="Favorite">
                            <button>
                                <img src="assets/imgs/Fav.png">
                            </button>
                        </div>
                    </div>
                    <div class="Number-products">
                        <div class="btn">
                            <p>4</p>
                            <button (click)="gotoPage()">
                        عروض المنتج
                    </button>
                            <button (click)="gotoPage()">
                        أضف للسلة
            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Products">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/Layer 56 copy.png">
                    </div>

                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <div class="Number-products">
                        <div class="Attention">
                            <button>
                              <img src="assets/imgs/Notification.png">
                        </button>
                        </div>
                        <div class="Number">
                            <button>
                              <ion-icon name="add"></ion-icon>
                          </button>
                            <p>5</p>
                            <button>
                            <ion-icon name="remove"></ion-icon>
                            </button>
                        </div>
                        <div class="Favorite">
                            <button>
                                <img src="assets/imgs/Fav.png">
                            </button>
                        </div>
                    </div>
                    <div class="Number-products">
                        <div class="btn">
                            <p>4</p>
                            <button (click)="gotoPage()">
                        عروض المنتج
                    </button>
                            <button (click)="gotoPage()">
                        أضف للسلة
            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Products">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/Layer 48.png">
                    </div>

                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <div class="Number-products">
                        <div class="Attention">
                            <button>
                              <img src="assets/imgs/Notification.png">
                        </button>
                        </div>
                        <div class="Number">
                            <button>
                              <ion-icon name="add"></ion-icon>
                          </button>
                            <p>5</p>
                            <button>
                            <ion-icon name="remove"></ion-icon>
                            </button>
                        </div>
                        <div class="Favorite">
                            <button>
                                <img src="assets/imgs/Fav.png">
                            </button>
                        </div>
                    </div>
                    <div class="Number-products">
                        <div class="btn">
                            <p>4</p>
                            <button (click)="gotoPage()">
                        عروض المنتج
                    </button>
                            <button (click)="gotoPage()">
                        أضف للسلة
                     </button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>

</ion-content>