<ion-header>

    <ion-navbar>
        <ion-title>العروض المجمعة</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <div class="Products" (click)="gotoPage()">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/Bags.png">
                    </div>
                    <p>مدة العرض : <span>2</span> يوم</p>
                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <p>متجر جوتشى</p>
                    <div class="Buy-info">
                        <div class="Buy">
                            <p>السعر قبل</p>
                            <button>150 ريال</button>
                        </div>
                        <div class="Buy">
                            <p>السعر بعد</p>
                            <button>100 ريال</button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="Products" (click)="gotoPage()">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/Layer 65.png">
                    </div>
                    <p>مدة العرض : <span>3</span> يوم</p>
                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <p>متجر جوتشى</p>
                    <div class="Buy-info">
                        <div class="Buy">
                            <p>السعر قبل</p>
                            <button>130 ريال</button>
                        </div>
                        <div class="Buy">
                            <p>السعر بعد</p>
                            <button>120 ريال</button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="Products" (click)="gotoPage()">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/Layer 67.png">
                    </div>
                    <p>مدة العرض : <span>9</span> يوم</p>
                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <p>متجر جوتشى</p>
                    <div class="Buy-info">
                        <div class="Buy">
                            <p>السعر قبل</p>
                            <button>60 ريال</button>
                        </div>
                        <div class="Buy">
                            <p>السعر بعد</p>
                            <button>80 ريال</button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="Products" (click)="gotoPage()">
                <div class="item">
                    <div class="img-Products">
                        <img src="assets/imgs/Layer 66.png">
                    </div>
                    <p>مدة العرض : <span>7</span> يوم</p>
                </div>
                <div class="information-Products">
                    <h2>عرض الشنطه والحزام الجلد</h2>
                    <p>متجر جوتشى</p>
                    <div class="Buy-info">
                        <div class="Buy">
                            <p>السعر قبل</p>
                            <button>140 ريال</button>
                        </div>
                        <div class="Buy">
                            <p>السعر بعد</p>
                            <button>160 ريال</button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>