<ion-header>

    <ion-navbar>
        <ion-title>القائمة المفضلة</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <div class="product" (click)="gotofavoriteproduct()">
                            <div class="product-img">
                                <img src="/assets/imgs/melk.png">
                            </div>
                            <p>الألبان ومشتقاتها</p>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="product">
                            <div class="product-img">
                                <img src="/assets/imgs/Layer 41.png">
                            </div>
                            <p>المياه والعصائر</p>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="product">
                            <div class="product-img">
                                <img src="/assets/imgs/Layer 43.png">
                            </div>
                            <p>الزيوت والسمن</p>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="product">
                            <div class="product-img">
                                <img src="/assets/imgs/Layer 48.png">
                            </div>
                            <p>جلود</p>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="product">
                            <div class="product-img">
                                <img src="/assets/imgs/Layer 52.png">
                            </div>
                            <p>أجهزة محمول</p>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="product">
                            <div class="product-img">
                                <img src="/assets/imgs/Layer 51.png">
                            </div>
                            <p>أدوات تجميل</p>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="product">
                            <div class="product-img">
                                <img src="/assets/imgs/Layer 53.png">
                            </div>
                            <p> مخبوزات ومعجنات</p>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="product">
                            <div class="product-img">
                                <img src="/assets/imgs/Layer 50.png">
                            </div>
                            <p> أجهزة لاب توب </p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>