<ion-header>
    <ion-navbar>
        <ion-title>الرئيسية</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="bg-page">
    <!-- <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>{{ 'Age' | translate }}</ion-label>
        <ion-input type="number" formControlName="title" (input)="console()"></ion-input>
        <button ion-button color="secondary" (click)='openFilters();' item-right>{{toggle}}</button>
      </ion-item>

      <ion-item *ngIf="title.hasError('required') && title.touched" >
        <p>{{ 'reqerror' | translate }} </p>
      </ion-item>
      <ion-item *ngIf="title.hasError('too young') && title.touched" >
        <p>* {{ 'greatererr' | translate }} </p>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Name' | translate }}</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" [disabled]="!todo.valid">{{ 'submit' | translate }}</button>
    </form> -->
    <ion-list>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <div class="item" (click)="gotoFavoritemenu()">
                            <div class="border">
                                <div class="content">
                                    <div>
                                        <img src="assets/imgs/Fav copy.png">
                                        <p>المفضلة</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="item" (click)="gotoHome()">
                            <div class="border">
                                <div class="content">
                                    <div>
                                        <img src="assets/imgs/mony icon.png">
                                        <p>سلة المقارنة</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="item" (click)="gotoOfferstoday()">
                            <div class="border">
                                <div class="content">
                                    <div>
                                        <img src="assets/imgs/ticet.png">
                                        <p>العروض اليوم</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="item" (click)="gotobundledoffers()">
                            <div class="border">
                                <div class="content">
                                    <div>
                                        <img src="assets/imgs/car.png">
                                        <p>العروض المجمعة</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col col-12>
                        <div class="item" (click)="gotoProductsections()">
                            <div class="border">
                                <div class="content">
                                    <div>
                                        <img src="assets/imgs/store.png">
                                        <p>أقسام المنتجات</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

</ion-content>