page-home {
    ion-list {
        height: 100%;
        ion-item {
            width: 100%;
            height: 100%;
            .item-inner {
                ion-label {
                    margin: 0 !important;
                    height: 75%;
                    margin-top: 30px;
                    ion-grid {
                        padding: 0 !important;
                        height: 100%;
                        .row {
                            height: 100%;
                            .col {
                                display: flex;
                                justify-content: center;
                            }
                        }
                        .item {
                            background: linear-gradient(to bottom, #b73582 0%, #2c3e81 100%);
                            height: 28vmin;
                            width: 30vmin;
                            border-radius: 25px;
                            padding: 5px;
                            div.border {
                                background: linear-gradient(to bottom, #de4bc8 0%, #4d5cc2 100%);
                                width: 100%;
                                height: 100%;
                                border-radius: 22px;
                                padding: 2px;
                                .content {
                                    background: linear-gradient(to bottom, #b73582 0%, #2c3e81 100%);
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 20px;
                                    position: relative;
                                    div {
                                        position: absolute;
                                        top: 52%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        text-align: center;
                                        img {
                                            width: 10vmin;
                                        }
                                        p {
                                            color: #fff;
                                            font-size: 12px;
                                            font-weight: bold;
                                            width: 100%;
                                            white-space: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}