page-settings {
    ion-list{
        ion-item{
            ion-title{
                margin: 20px 0;
            }
            .social-media{
              button{
                background: none;
              }
            }
            .buttons-page.md{
                button{
                    padding: 0 10px;
                    margin: 20px auto;
                }
            }
            .buttons-page{
                button{
                    color: $font-color;
                    width: 90% !important;
                    border-radius: 18px !important;
                    height: 35px !important;
                    background: $bg-input !important;
                    text-align: right;
                    padding: 0 40px;
                    position: relative;
                    margin: 10px auto;
                  
                     ion-icon{
                        color: #919ca6;
                        position: absolute;
                        left:20px;
                        font-size: 22px;
                        top: 50%;
                        transform: translateY(-50%);
                        +img{
                            position: absolute;
                            width: 20px;
                            right: 12px;
                            transform: translateY(-50%);
                            top: 50%;
                        }
                    }
                }
            }
        .settings{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 90%;
          margin: 0 auto;
          direction: rtl;
           p{
               color: $font-color;
               font-size: 18px;
           }
        
        .slideThree {
            width: 80px;
            height: 40px;
            background: #e8ebef;
        
            position: relative;
            border-radius: 50px;
            &:after {
              content: 'OFF';
              color: #000;
              position: absolute;
              right: 10px;
              z-index: 0;
              top: 8px;
              font: 12px/26px Arial, sans-serif;
              font-weight: bold;
              text-shadow: 1px 1px 0px rgba(255,255,255,.15);
            }
            &:before {
              content: 'ON';
              color: $activeColor;
              position: absolute;
              left: 10px;
              z-index: 0;
              top: 8px;
              font: 12px/26px Arial, sans-serif;
              font-weight: bold;
            }
            label {
              display: block;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              background: $font-color;
              cursor: pointer;
              position: absolute;
              top: 5px;
              left: 3px;
              z-index: 1;
              border-radius: 50px;
              transition: all 0.4s ease;
              
            }
            input[type=checkbox] {
              visibility: hidden;
              &:checked + label {
                left: 43px;
              }
            }    
          }
         }
        }
    }
}
