
<ion-header>

  <ion-navbar>
    <ion-title>الإعدادات</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <ion-item>
    <div class="Date-Supply">
        <div class="settings">
            <p>المؤثرات الصوتية</p>
                <div class="slideThree">  
                  <input type="checkbox" value="None" id="slideThree" name="check" checked />
                  <label for="slideThree"></label>
                </div>
          </div>
          <div class="buttons-page md">
              <button>
                  البيانات الشخصية
                  <ion-icon name="ios-arrow-back"></ion-icon>
              </button>
              <button (click)="gotoCalendartype()">
                  نوع التقويم
                  <ion-icon name="ios-arrow-back"></ion-icon>
              </button>
          </div>
    </div>
  </ion-item>
  <ion-item>
      <ion-title>إدعم التطبيق</ion-title>
      <div class="Date-Supply">
            <div class="buttons-page">
                <button>
                    إخبر أصدقائك على الفيس بوك
                    <ion-icon name="ios-arrow-back"></ion-icon>
                    <img src="assets/imgs/fb.png">
                </button>
                <button>
                    إخبر أصدقائك على تويتر
                    <ion-icon name="ios-arrow-back"></ion-icon>
                    <img src="assets/imgs/tw.png">
                </button>
                <button>
                    إخبر أصدقائك على واتس آب
                    <ion-icon name="ios-arrow-back"></ion-icon>
                    <img src="assets/imgs/ws.png">
                </button>
               
                <button>
                    قيم أرخصلى فى متجر التطبيقات
                    <ion-icon name="ios-arrow-back"></ion-icon>
                    <img src="assets/imgs/start.png">
                </button>
            </div>
       
      </div>
    </ion-item>
    <ion-item>
        <ion-title>التواصل والدعم الفنى</ion-title>
        <div class="Date-Supply">
              <div class="buttons-page">
                  <button>
                      عندك إقتراح .. ؟ راسلنا
                      <ion-icon name="ios-arrow-back"></ion-icon>
                      <img src="assets/imgs/direction.png">
                  </button>
                  <button>
                      واجهتك مشكلة .. ؟ بنساعدك فوراً
                      <ion-icon name="ios-arrow-back"></ion-icon>
                      <img src="assets/imgs/warning.png">
                  </button>
                  <button>
                      ما قد أعجبك فى التطبيق .. ؟ إذكر الأسباب
                      <ion-icon name="ios-arrow-back"></ion-icon>
                      <img src="assets/imgs/thumbs-up.png">
                  </button>
              </div>
        </div>
      </ion-item>
      <ion-item>
          <ion-title>تابع حسابتنا</ion-title>
          <div class="social-media">
              <button>
                 <img src="/assets/imgs/facebook.png">
             </button>
              <button>
                 <img src="/assets/imgs/twitter.png">     
                </button>
              <button>
                <img src="/assets/imgs/snapchat.png">     
             </button>
              <button>
                <img src="/assets/imgs/instagram.png">     
              </button>
          </div>
        </ion-item>
</ion-list>
</ion-content>
