page-map {
    ion-content {
        background: url('/assets/imgs/mappage.png') no-repeat !important;
        background-size: 100% 100%;
        button {
            background: none;
            position: relative;
            top: 40%;
            left: 50%;
            img {
                width: 30px;
            }
        }
    }
}