// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$font-color:#384d6b;
$bg-input:#e8ebef;
$main-color:#cf2b30;
$btn-color:#ffbc00;
$color-p:#919ca6;
$bg-btn:#454d6e;
$activeColor:#27ae60; 
// App iOS Variables
// --------------------------------------------------
// default are overridden.
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";