page-product {
    ion-list {
        ion-item {
            .Products {
                height: auto !important;
            }
            .Number-products {
                width: 90%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                height: 60px;
                align-items: center;
                .Number {
                    display: flex;
                    width: 30% !important;
                    justify-content: space-between;
                    align-items: center;
                    button {
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        color: #fff;
                        font-size: 18px;
                        background: $bg-btn;
                        font-weight: bold;
                        ion-icon {
                            text-align: center;
                            line-height: 30px;
                        }
                    }
                    p {
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        background: $main-color;
                        border-radius: 50%;
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
            .information {
                .Buy-info {
                    margin-top: 90px;
                    .Buy {
                        p {
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background: $btn-color;
                            text-align: center;
                            line-height: 30px;
                            color: $font-color;
                            right: 3%;
                            bottom: 40%;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}