<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>لبن مزارع دينا 2 لتر</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-slides #slides autoplay="5000" loop="true" speed="500" pager="true" (ionSlideDidChange)="slideChanged()">
                <ion-slide>
                    <div class="Product">
                        <img src='assets/imgs/melk.png'>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="Product">
                        <img src='assets/imgs/melk.png'>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="Product">
                        <img src='assets/imgs/melk.png'>
                    </div>
                </ion-slide>
            </ion-slides>
            <div class="information">
                <div class="info-product">
                    <p><span> المنتج : </span>لبن مزارع دينا 2 لتر</p>
                    <p><span>الشركة المصنعة  : </span> مزارع دينا</p>
                    <p><span>القسم  : </span> الألبان </p>
                    <p><span>الوصف   : </span> لبن مزارع دينا كامل الدسم 2 لتر </p>
                </div>
            </div>
            <div class="Products">
                <div class="Number-products">
                    <div class="Attention">
                        <button>
                          <img src="assets/imgs/Notification.png">
                    </button>
                        <label>إضافة تنبيه</label>
                    </div>
                    <div class="Number">
                        <button>
                          <ion-icon name="add"></ion-icon>
                      </button>
                        <p>5</p>
                        <button>
                        <ion-icon name="remove"></ion-icon>
                        </button>
                    </div>
                    <div class="Favorite">
                        <button>
                            <img src="assets/imgs/Fav.png">
                        </button>
                        <label>إضافة للمفضلة</label>
                    </div>
                </div>
            </div>


            <div class="information">
                <div class="Buy-info">
                    <div class="Buy">
                        <button>أضف للسلة</button>
                    </div>
                    <div class="Buy">
                        <p>4</p>
                        <button>عروض المنتج</button>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>