// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'TheSans';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/TheSans-Plain.otf");
}

* {
    font-family: 'TheSans', sans-serif;
}
button.btn-lg{
    background: linear-gradient(to bottom, #e72127 0%, #cf2b30 100%);
    width: 50%;
    color: #fff;
    height: 40px;
    position: absolute;
    bottom:10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    border-radius: 20px;
}
ion-content.content {
    background: #f7fafb;
}

ion-content.bg {
    background: #f7fafb url("/assets/imgs/bg.png") bottom no-repeat;
    background-size: 100%;
}

ion-content.bg-page {
    background: #f7fafb url("/assets/imgs/bg-page.png") 100% bottom no-repeat;
    background-size: 100%;
}
.social-media {
    text-align: center;
    margin-top: 10px;
    button {
        display: inline-block;
        width: auto;
        height: auto;
        img {
            width: 45px;
        }
    }
}
ion-header {
    height: 100px;
    ion-navbar {
        height: 100%;
        ion-title {
            .toolbar-title {
                color: #fff;
                font-size: 20px;
            }
            +ion-title {
                margin-top: 20px;
            }
        }
        .toolbar-background {
            background: url("/assets/imgs/nav.png") no-repeat !important;
            background-size: 100% 100% !important;
            border: 0 !important;
        }
    }
}

img.logo {
    width: 25vmin;
    margin: 10% auto 5%;
    display: block;
}

ion-list {
    padding: 0 !important;
    ion-item {
        border: 0 !important;
        background: none !important;
        padding: 0 !important;
        .Date-Supply {
            button {
                background: #e8ebef;
                width: 40px;
                height: 40px;
                img {
                    width: 30px;
                }
            }
            select {
                display: block;
                width: 90%;
                margin: 15px auto;
                background: #e8ebef;
                border-radius: 20px;
                direction: rtl;
                height: 40px;
                color: $color-p;
                padding: 0 15px;
                box-shadow: 0px 0px 5px 2px #ebeeef;
                border: 0;
            }
        }   
        ion-grid {
            ion-row {
                ion-col {
                    .product {
                        text-align: center;
                        p {
                            color: $font-color;
                            font-size: 16px;
                        }
                        .product-img {
                            width: 80%;
                            height: auto;
                            margin: 0 auto;
                            img {
                                border-radius: 20px;
                                height: 125px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        // viewproduct
        ion-slides {
            .swiper-container-horizontal>.swiper-pagination-bullets {
                bottom: -2px;
                .swiper-pagination-bullet-active {
                    background: $btn-color;
                    width: 10px;
                    height: 10px;
                }
            }
            ion-slide {
                .Product {
                    background: #fff;
                    width: 65%;
                    height: 180px;
                    margin: 20px auto;
                    border-radius: 10px;
                    box-shadow: 0px 0px 5px 2px #ebeeef;
                    img {
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
                width: 7px !important;
                height: 7px !important;
                margin: 0 3px !important;
            }
        }
        .information {
            padding: 0 0 20px;
            .info-product {
                width: 80%;
                margin: 0 auto;
                p {
                    white-space: normal;
                    text-align: right;
                    color: $font-color;
                    direction: rtl;
                    font-size: 14px;
                    span {
                        color: $main-color;
                    }
                }
            }
            .Buy-info {
                display: flex;
                justify-content: center;
                margin-top: 25px;
                .Buy {
                    text-align: center;
                    width: 35%;
                    margin: 0 20px;
                    position: relative;
                    button {
                        width: 100%;
                        height: 35px;
                        border-radius: 20px;
                        background: linear-gradient(to bottom, #e72127 0%, #cf2b30 100%);
                        color: #fff;
                    }
                    +.Buy {
                        button {
                            background: linear-gradient(to bottom, #434b6b 0%, #363b54 100%);
                        }
                    }
                }
            }
        }
        .slider {
            position: relative;
            .information {
                .info-product {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
        .arrow {
            display: flex;
            justify-content: space-between;
            width: 95%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99999;
            button {
                background: none;
                font-size: 25px;
                color: #919ca6;
            }
        }
        .Branches-supply {
            display: flex;
            justify-content: space-around;
            text-align: center;
            margin: 20px 0;
            .Branches {
                display: flex;
                align-items: center;
                direction: rtl;
                div {
                    width: 40px;
                    height: 40px;
                    margin-left: 10px;
                    background: #e8ebef;
                    border-radius: 50%;
                    position: relative;
                    img {
                        width: 20px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                p {
                    color: $font-color;
                }
            }
        }
        //end viweproduct
        .Date-Supply {
            margin-top: 20px;
            h3 {
                text-align: center;
                color: $font-color;
                font-size: 16px;
                margin: 0;
                +p {
                    text-align: center;
                    color: $color-p;
                    margin: 0;
                }
            }
            button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 20px auto;
                display: block;
                background: $btn-color;
                img {
                    width: 30px;
                }
            }
            .Date-Determination {
                display: flex;
                width: 90%;
                justify-content: space-between;
                margin: 0 auto;
                direction: rtl;
                .Date {
                    width: 20%;
                    text-align: center;
                    p {
                        color: $color-p;
                    }
                    button {
                        width: 40px;
                        height: 40px;
                        background: #e8ebef;
                        border-radius: 50%;
                        position: relative;
                        margin: auto;
                        img {
                            width: 20px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        +p {
                            color: $main-color;
                            margin: 0 auto 20px;
                        }
                    }
                }
            }
        }
        .btn-details {
            button {
                width: 50%;
                background: #e8ebef;
                color: #919ca6;
                height: 35px;
                border-radius: 20px;
                margin: 40% auto 0;
                display: block;
            }
        }
        ion-title {
            .toolbar-title {
                color: $main-color;
                text-align: center;
            }
        }
        .item-inner {
            border: 0 !important;
            padding: 0 !important;
        }
        ion-label {
            margin: 0 !important;
            .Products {
                padding: 3px 10px;
                height: 180px;
                text-align: center;
                display: flex;
                direction: rtl;
                align-items: center;
                justify-content: center;
                .Number-products {
                    display: flex;
                    direction: rtl;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 15px;
                    .btn {
                        position: relative;
                        p {
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background: $btn-color;
                            text-align: center;
                            line-height: 25px;
                            color: $font-color;
                            right: -4%;
                            bottom: 55%;
                            font-size: 16px;
                        }
                        button {
                            background: linear-gradient(to bottom, #434b6b 0%, #363b54 100%);
                            color: #fff;
                            height: 30px;
                            border-radius: 20px;
                            width: 100%;
                            +button {
                                background: linear-gradient(to bottom, #e72127 0%, #cf2b30 100%);
                            }
                        }
                        width: 50%;
                    }
                    .Number {
                        display: flex;
                        width: 45%;
                        justify-content: space-between;
                        align-items: center;
                        direction: rtl;
                        button {
                            height: 20px;
                            width: 20px;
                            border-radius: 50%;
                            color: #fff;
                            font-size: 15px;
                            background: $bg-btn;
                            padding: 0;
                            ion-icon {
                                text-align: center;
                                line-height: 20px;
                            }
                        }
                        p {
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                            background: $main-color;
                            border-radius: 50%;
                            font-size: 15px;
                            color: #fff;
                        }
                    }
                    .Attention,
                    .Favorite {
                        text-align: center;
                        width: 25%;
                        button {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background: $bg-input;
                            position: relative;
                            img {
                                width: 20px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                        label {
                            display: block;
                            color: $font-color;
                            font-size: 14px;
                            line-height: 6px;
                        }
                    }
                }
                .item {
                    width: 160px;
                    padding: 5px;
                    .Clear-product {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        background: $main-color;
                        top: 100px;
                        right: 2px;
                        border-radius: 50%;
                        img {
                            width: 20px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    p {
                        text-align: center;
                        margin-top: 5px;
                        color: $font-color;
                        font-size: 14px;
                        font-weight: bold;
                        span {
                            color: $main-color;
                        }
                    }
                    .img-Products {
                        width: 100%;
                        height: 120px;
                        background: none;
                        border-radius: 20px;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 20px;
                            box-shadow: 0px 0px 5px 2px #ebeeef;
                        }
                    }
                }
                .information-Products {
                    margin-right: 10px;
                    width: 55%;
                    h2 {
                        text-align: right;
                        font-size: 15px;
                        color: $font-color;
                        font-weight: bold;
                        white-space: normal;
                    }
                    p {
                        text-align: right;
                        color: $main-color;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .Buy-info {
                        display: flex;
                        margin-top: 10px;
                        .Buy {
                            width: 50%;
                            p {
                                text-align: center;
                                color: #919ca6;
                            }
                            button {
                                margin: 0 auto;
                                background: $btn-color;
                                color: $font-color;
                                height: 35px;
                                width: 90%;
                                border-radius: 20px;
                            }
                            +.Buy {
                                button {
                                    background: $main-color;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
        +ion-item {
            border-top: 1px solid#eaedee !important;
        }
    }
}