<!--
  Generated template for the CalendartypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>نوع التقويم</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list>
    <ion-item>
      <ion-title>إختر نوع التقويم</ion-title>
      <div class="checking">
          <div class="check-box">
              <p>تقويم ميلادى</p>
                <div class="roundedOne">
                    <input type="checkbox" value="None" id="roundedOne" name="check" checked />
                    <label for="roundedOne"></label>
                  </div>
            </div>
            <div class="check-box">
                <p>تقويم هجرى</p>
                  <div class="roundedOne">
                      <input type="checkbox" value="None" id="roundedOne1" name="check"  />
                      <label for="roundedOne1"></label>
                    </div>
              </div>
      </div>
    
  </ion-item>
  </ion-list>
  <button class="btn-lg">
      حفظ التقويم
   </button>
</ion-content>
