page-calendartype {
 
    ion-list{
        height: 100%;
    }
 
    .checking{
        direction: rtl;
        display: flex;
        flex-direction: column;

        .check-box{
            display: flex;
            width: 30%;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            direction: ltr;
            margin: 10px 40px; 
            p{
                color: $font-color;
                font-size: 15px;
            }
        }
    }

    .roundedOne {
        width: 28px;
        height: 28px;
        position: relative;
        background: #fff; 
        border-radius: 10px;
        box-shadow: 0px 1px 3px rgba(177, 166, 166, 0.5);
        label {
          width: 20px;
          height: 20px;
          cursor: pointer;
          position: absolute;
          left: 4px;
          top: 4px;
          border-radius: 50px;
          box-shadow: 0px 1px 0px rgba(255,255,255,1);
          &:after {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            top: 2px;
            left: 2px;
            background:$main-color;
            opacity: 0;
            border-radius: 50px;
          }
         
        }
        input[type=checkbox] {
          visibility: hidden;
          &:checked + label:after {
            opacity: 1;
          }
        }    
      }
}
