<ion-content class="bg">
    <img class="logo" src="assets/imgs/logo.png">
    <h3>يرجى كتابة البريد الإلكترونى الخاص بك المرتبط بأرخصلى وسوف يتم إرسال رابط إليك لتعديل كلمة المرور</h3>
    <ion-list>
        <ion-item>
            <input type="text" placeholder="البريد الإلكترونى">
            <button>إرسال</button>
        </ion-item>
    </ion-list>
</ion-content>