page-forgot {
    h3 {
        text-align: center;
        width: 90%;
        font-size: 20px;
        margin: 50px auto 0;
        color: #384d6b;
    }
    button {
        margin-top: 60px;
    }
}