<!--
  Generated template for the FavoritemenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>القائمة المفضلة</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="bg">
    <p>عزيزى العميل .. قم بتسجيل الدخول حتى يمكنك الإستفادة من خدمة الإضافة لسلة المقارنة وكثير من الخدمات الأخرى المميزة</p>
    <ion-list>
        <ion-item>
            <div class="information">
                <div class="Buy-info">
                    <div class="Buy">
                        <button (click)="gotoHome()">عودة للرئيسية</button>
                    </div>
                    <div class="Buy">
                        <button (click)="gotoLogin()">تسجيل الدخول</button>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>