page-favoritemenu {
    p {
        width: 80%;
        text-align: center;
        margin: 30px auto 0;
        color: $font-color;
        font-size: 16px;
    }
    .information {
        margin-top: 50%;
        .Buy-info {
            .Buy {
                margin: 0 10px;
            }
        }
    }
}