<ion-header>

    <ion-navbar>
        <ion-title>العروض المجمعة</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-title>
                فلتر العروض المجمعة
            </ion-title>
            <div class="Date-Supply">
                <h3>تاريخ العروض</h3>
                <div class="Date-Determination">
                    <div class="Date">
                        <p>من</p>
                        <button>
                          <img src="assets/imgs/gold3.png">
                      </button>
                        <p>
                            11-2-2017
                        </p>
                    </div>
                    <div class="Date">
                        <p>الي</p>
                        <button>
                          <img src="assets/imgs/gold3.png">
                      </button>
                        <p>
                            15-1-2017
                        </p>
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="Date-Supply">
                <h3>تاريخ العروض</h3>
                <p>إضافة منتج البحث</p>
                <button>
                <img src="assets/imgs/add.png">
              </button>
                <select placeholder="إختر القسم">
                <option value="" disabled selected style="display: none;"> إختر القسم</option>
                <option value="1"> قسم الزيوت</option>
                <option value="2">قسم الجلود</option>
                <option value="3">قسم المياه</option>
                <option value="4"> قسم العصائر</option>
                <option value="5">قسم الألبان</option>

              </select>
                <select placeholder="إختر التصنيف">
                <option value="" disabled selected style="display: none;"> إختر التصنيف</option>
                <option value="1">قسم العصائر</option>
                <option value="2">قسم الألبان</option>
              </select>
                <select placeholder="إختر المنتج">
                <option value="" disabled selected style="display: none;">إختر المنتج</option>
                <option value="1"> قسم الزيوت</option>
                <option value="2">قسم الجلود</option>
                <option value="3">قسم المياه</option>
                <option value="4"> قسم العصائر</option>
              </select>
            </div>
        </ion-item>
        <ion-item>
            <div class="btn-details">
                <button>إضافة</button>
            </div>
        </ion-item>
    </ion-list>

</ion-content>