page-data-presentations {
    ion-list {
        ion-item {
          
            .btn-details {
                button {
                    margin: 20px auto !important;
                }
            }
        }
    }
}