<ion-header>

    <ion-navbar>
        <ion-title>سلة المقارنة</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="bg">
    <p>عفواً .. عزيزى المستخدم لم تقم بإضافة أية منتجات لسلة المقارنة</p>
    <ion-list>
        <ion-item>
            <div class="information">
                <div class="Buy-info">
                    <div class="Buy">
                        <button (click)="gotoProductsections()">أقسام المنتجات</button>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>