<ion-header>

    <ion-navbar>
        <ion-title>القائمة المفضلة</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="bg">
    <p>عذراً .. عزيزى العميل لم تقم بإضافة أى منتجات لسلة المفضلة</p>
    <ion-list>
        <ion-item>
            <div class="information">
                <div class="Buy-info">
                    <div class="Buy">
                        <button (click)="gotoPage()">متابعة التصفح</button>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>