page-productsection {
    .product {
        +button {
            margin: 0 auto;
            display: block;
            width: 50%;
            height: 30px;
            border-radius: 20px;
            background: $main-color;
            color: #fff;
        }
    }
}